@using System.Web.Optimization

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mini Occuro</title>

    @Styles.Render("~/bundles/app/css")
</head>
<body>
<h1>Mini Occuro</h1>

    @Scripts.Render("~/bundles/app/scripts")
</body>
</html>